<p><h3>Your Triangle's length is $myTriangle.getLength()</h3></p>
<p><h3>Your Triangle's width is $myTriangle.getWidth()</h3></p>
<p><h3>Your Triangle's height is $myTriangle.getHeight()</h3></p>

#if ($myTriangle.isTriangle())
  <p><h3>Your Triangle is a Triangle!</h3></p>
#else
  <p><h3>Your Triangle isn't a Triangle!</h3></p>
#end
